* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
  color: $color-black;
  background-color: $color-white;
  overflow-x: hidden;
}
